{% extends "about/base.html" %}
{% load static %}
{% block title %}Publications{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'publications/articles.css' %}" />
{% endblock css %}

{% block body %}

<section class="pub-section" id="publications">
    <h2 class="pub-heading" >Publications Timeline</h2>
  
    <div class="pub-timeline">
  
      <div class="pub-item left" data-aos="fade-up">
        <div class="pub-marker"></div>
        <div class="pub-card">
          <h3 class="pub-title">Dual-Modality Fusion for Mango Disease Classification using Dynamic Attention Based Ensemble of Leaf & Fruit Images</h3>
          <p class="pub-desc">A novel dynamic attention-based dual-modality fusion model that combines leaf and fruit images to improve mango disease classification .
          </p>
          <p class="pub-meta">UnderReview in Plant Methods-Springer Nature • Jul 2025</p>
          {% comment %} <a href="#" class="pub-btn">View Paper</a> {% endcomment %}
        </div>
      </div>
  
      <div class="pub-item right" data-aos="fade-up">
        <div class="pub-marker"></div>
        <div class="pub-card">
          <h3 class="pub-title">A Novel Framework Integrating Classical and Deep Learning Models for Prostate Cancer Detection on Imbalanced Epidemiological Dataset</h3>
          <p class="pub-desc">A novel framework combining classical and deep learning models to detect prostate cancer effectively on an imbalanced epidemiological dataset.
          </p>
          <p class="pub-meta">UnderReview in BMC Medical Informatics and Decision Making - Springer Nature • June 2025</p>
          {% comment %} <a href="#" class="pub-btn">View Paper</a> {% endcomment %}
        </div>
      </div>

      <div class="pub-item left" data-aos="fade-up">
        <div class="pub-marker"></div>
        <div class="pub-card">
          <h3 class="pub-title">INTELLIGENT EMERGENCY VEHICLE SOUND CLASSIFICATION FOR PUBLIC SAFETY</h3>
          <p class="pub-desc">A real-time sound-based system using ML and MFCC features is proposed to accurately detect emergency vehicle sirens in traffic, enhancing response times and urban safety.
          </p>
          <p class="pub-meta">Kashf Journal of Multidisciplinary Research • Dec 2024</p>
          <a href="http://dx.doi.org/10.71146/kjmr161" class="pub-btn">View Paper</a> 
        </div>
      </div>
  
      <div class="pub-item right" data-aos="fade-up">
        <div class="pub-marker"></div>
        <div class="pub-card">
          <h3 class="pub-title">The Programmer's Path with Java</h3>
          <p class="pub-desc">An introductory book to master the concepts of Programming Fundamentals and Object-Oriented Principles.</p>
          <p class="pub-meta">GoodReads | The Wise Sapiens • Sept 2023</p>
          <a href="https://www.goodreads.com/book/show/219191579-the-programmer-s-path-with-java" class="pub-btn">View Book</a>
        </div>
      </div>
  
    </div>
  </section>

{% endblock body %}