{% extends "about/base.html" %}
{% load static %}
{% block title %}Blogs{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog\blog_list.css' %}">
{% endblock css %}


{% block body %}
<section class="blog-list"> 
<h2 class="heading" data-aos="fade-down"> My Writeups</h2>
<div class="blog-grid">
  {% for post in posts %}
    <a href="{% url 'blog_detail' slug=post.slug %}" class="blog-card" data-aos="fade-up">
      <img src="{% static post.image %}" alt="{{ post.title }}">
      <h3>{{ post.title }}</h3>
    </a>
  {% endfor %}
</div>

</section>

{% endblock body %}