{% extends "about/base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'projects/project.css' %}" />
{% endblock css %}

{% block body %}

<section id="projects" class="projects-section">
    <h3 class="section-heading" data-aos="fade-down">Projects</h3>
    <div class="projects-grid">
      <!-- Card -->
      <div class="project-card" data-id="Fusion" data-aos="fade-up">
        <img src="{% static 'projects/images/Fusion.png' %}" alt="Fusion" />
        <h3>Mango Disease Classifier</h3>
      </div>

      
      <div class="project-card" data-id="Bidraze" data-aos="fade-up">
        <img src="{% static 'projects/images/BidRaze.png' %}" alt="Bidraze" />
        <h3>Bidraze</h3>
      </div>
  
      <div class="project-card" data-id="Conectify" data-aos="fade-up">
        <img src="{% static 'projects/images/connect.png' %}" alt="CodeMap" />
        <h3>Conectify</h3>
      </div>
  
      <div class="project-card" data-id="sapiens" data-aos="fade-up">
        <img src="{% static 'projects/images/wisesapiens.png' %}" alt="The Wise Sapiens" />
        <h3>The Wise Sapiens</h3>
      </div>
  
      <div class="project-card" data-id="codequest1" data-aos="fade-up">
        <img src="{% static 'projects/images/Hakathon.png' %}" alt="Code Conquest I" />
        <h3>Code-Conquest-I</h3>
      </div>
  
      <div class="project-card" data-id="mall" data-aos="fade-up">
        <img src="{% static 'projects/images/Mall.png' %}" alt="Virtual Mall" />
        <h3>Virtual Mall System</h3>
      </div>
    </div>
  </section>
  
  <!-- Modal -->
  <div id="projectModal" class="modal hidden">
    <div class="modal-content">
      <span class="close-modal">&times;</span>
      <img id="modalImage" src="" alt="Project Screenshot" />
      <h2 id="modalTitle"></h2>
      <p id="modalDescription"></p>
      <div class="modal-links">
        <a href="#" id="modalGitHub" target="_blank">GitHub</a>
        <a href="#" id="modalDemo" target="_blank" class="hidden">Live Demo</a>
        <a href="#" id="modalPaper" class="hidden" target="_blank">Reaserch Article</a>
      </div>
    </div>
  </div>
  
  <div id="reviewModal" class="modal hidden">
    <div class="modal-content">
      <span class="close-review-modal">&times;</span>
      <h2>Under Review 🕓</h2>
      <p>This research paper is currently under peer review and will be made available soon.</p>
    </div>
  </div>
{% endblock body %}

{% block js %}
<script>
  const STATIC_URL = "{% static '' %}";
</script>

<script src="{% static 'projects/project.js' %}"></script>
{% endblock js %}