{% extends "about/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock css %}

{% block body %}
<section class="about-me-section">
    <div class="about-me-container">
      <div class="image-wrapper">
        <img src="{% static 'about/Me.png' %}" class="profile-image" alt="Profile Image">
      </div>
      <div class="about-text">
        <h2 class="about-heading">Hi, I’m <span class="name">Mohsin</span></h2>

        <p class="about-description">
          An ordinary boy from Earth striving to escape the absurdity and to find purpose for his existence in the mundane. My story begins from the epoch when I emancipated from the deviation of societal expectations. I found solace in reading and observation. Even though it's quixotic to contemplate the surroundings, this pensive behavior led me to my eventual purpose, which was to contribute something to humanity by means of science. So, ostensibly, I opted strenuously for the ubiquitous hemmed field of Computer Science since my formative years, as it's something proliferated in the early 21st century — not because of its aggrandizing nature but to sate my own self, who has been fond of computers and tech since adolescence.
          <br> <br>
The wretchedness of our humanity was, to say dichotomously, premeditated by capitalism. However, the reality of our consciousness is entrenched in our survival, and we can't escape this curse by any means. Still, there is a glimmer of a silver lining at the end , to see ingenuity in our blocks, as wished by our beloved Hawking.
          <br><br>
Anyhow, I chose Computer Science over and over again throughout my academic pursuits and cauldron. For me, theory was disdained, yet imperative to build intuition, and the practical work galvanized my interest in AI and ML, which are currently burgeoning and kaleidoscopic. Now you can find me immersed into the work of aforementioned realm, and let's envisage that we come to terms with this perturbed and redoubling Frankenstein monster.

        
        </p>
      </div>
    </div>
  
    <!-- Buttons outside the bordered container -->
    <div class="about-buttons">
      <a href="{% static 'docs/your_cv.pdf' %}" class="btn btn-primary" download>📄 Download CV</a>
      <a href="mailto:mohsinramzan999@gmail.com" class="btn btn-secondary">✉️ Contact Me</a>
    </div>
  </section>
  
{% endblock body %}
