{% extends "about/base.html" %}
{% load static %}
{% block title %}Extra-Curriculars{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'about/extra.css' %}">
{% endblock css %}

{% block body %}
<section class="extracurricular-section" id="extracurricular">
    <h2>Extra-Curricular Activities</h2>
  
    <div class="activity-list">
  
      <div class="activity-card">
        <h3>The Wise Sapiens | <i>2023 - Present</i></h3>
        <p>Founded a non-profit scientifc organzation to foster enligthment and STEM knowledge.</p>
        <a href="https://thewisesapiens.org" target="_blank">Vist Website</a>
      </div>
  
      <div class="activity-card">
        <h3>Director Content Writer (English) at <i>KFUEIT Media Club</i> | <i>2024 - 2025 </i> </h3>
        <p>Served as the Editorial Board at Orcale Magzine of our University.</p>
        {% comment %} <a href="https://gdsc.community.dev/" target="_blank">Learn More</a> {% endcomment %}
      </div>
  
      <div class="activity-card">
        <h3>Executive Member of <i>KFUEIT Readers Writers Club</i> | <i>2023 - Present </i> </h3>
        <p>Organizer and participant in various book talks and intellectual discourses.</p>
      </div>
  
      <!-- Add more activities here -->
    </div>
  </section>
  
  
  <section class="certificates-section" id="certificates">
    <h2>Certificates</h2>
  
    <div class="certificates-grid">
  
      <a class="cert-card" href="https://certificates.cs50.io/1b0e22db-db13-4613-9b06-2dfe4faf4f5a.pdf?size=letter" target="_blank">
        <div class="cert-content">
          <h3>CS50 Web Programming with Python and Django</h3>
          <p>Harvard University</p>
        </div>
      </a>
      
      

      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/QKUGCSJ0J9IQ" target="_blank">
        <div class="cert-content">
          <h3>Unsupervised Learning, Recommenders, Reinforcement Learning</h3>
          <p>DeepLearning.AI</p>
        </div>
      </a>

      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/5D5MSGTPCAGK" target="_blank">
        <div class="cert-content">
          <h3>Advanced Learning Algorithms</h3>
          <p>DeepLearning.AI</p>
        </div>
      </a>
      
      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/5JHOWYJ7HQ1W?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=pdf_header_button&utm_product=course" target="_blank">
        <div class="cert-content">
          <h3>Supervised Machine Learning : Regression and Classification</h3>
          <p>DeepLearning.AI</p>
        </div>
      </a>
      
      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/4HP45BV9QWNF" target="_blank">
        <div class="cert-content">
          <h3>Version Control</h3>
          <p>Meta</p>
        </div>
      </a>
      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/NRYVHWFAYPDU" target="_blank">
        <div class="cert-content">
          <h3>Psychological First Aid</h3>
          <p>The Johns Hopkins University</p>
        </div>
      </a>
      
      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/AW4NHSAEWFHG" target="_blank">
        <div class="cert-content">
          <h3>Advanced Styling with Responsive Design</h3>
          <p>University of Michigan</p>
        </div>
      </a>

      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/UN78AK3Q2JDA" target="_blank">
        <div class="cert-content">
          <h3>Interactivity with JavaScript</h3>
          <p>University of Michigan</p>
        </div>
      </a>

      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/RJS82BNTXNHH" target="_blank">
        <div class="cert-content">
          <h3>Introduction to CSS3</h3>
          <p>University of Michigan</p>
        </div>
      </a>

      <a class="cert-card" href="https://www.coursera.org/account/accomplishments/verify/AXUXBUWHV52V" target="_blank">
        <div class="cert-content">
          <h3>Introduction to HTML5</h3>
          <p>University of Michigan</p>
        </div>
      </a>

    </div>
  </section>
  
  
{% endblock body %}